.dataPlacement{
  margin-top: 4em;
  margin-bottom: 2em;
}
 
.bg-purple { background: mediumpurple; }
 
.bg-navyBlue { background: #12466b; }
 
.bg-adminNavbar {background: #6b1219;}
 
.bg-productTableNavbar {background: #165481;}
 
.bg-productEditorNavbar { background: #196b12;}
 
.bg-orderTableNavbar {background:seagreen;}

.bg-adminLoginNavbar {background:navy;}